body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #89cff0, #1b2735);
  font-family: 'Poppins', sans-serif;
  color: white;
}

.auth-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px #89cff0;
  text-align: center;
}

.h5-container {
  color: pink;
  font-style: initial;
}

.auth-container input {
  display: block;
  width: 90%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.auth-container button {
  padding: 12px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background: #89cff0;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-container button:hover {
  background: #5dade2;
}

.error {
  margin-top: 10px;
  color: #ff6b6b;
}
